.beer-gallery {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px;
  background: url("https://i.pinimg.com/originals/5b/7c/f3/5b7cf3a67ac589c4c496460fb39afed9.jpg");
  background-size: contain;
}
