.card {
  background-color: transparent;

  width: 250px;
  height: 400px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */

  &__inner {
    /* This container is needed to position the front and back side */
    position: relative;

    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  /* Style the front side (fallback if image is missing) */
  &__front {
    background: linear-gradient(
      45deg,
      rgb(114, 113, 113) 0%,
      rgb(97, 96, 96) 80%
    );
    color: black;
    border-radius: 25px;
    padding: 20px;

    &-info {
      border-radius: 5px;
      width: 100%;
      padding: 10px;
    }

    &-extra {
      margin-top: 5px;

      display: flex;
      justify-content: space-around;
    }

    &-extra li {
      display: block;
    }
  }

  &__front-img {
    height: 250px;
    padding: 10px;
  }

  /* Style the back side */
  &__back {
    background-color: rgb(208, 210, 212);
    color: white;
    transform: rotateY(180deg);
    border-radius: 25px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &-heading {
      color: rgb(87, 87, 87);
    }

    &-tagline {
      font-style: italic;
      color: rgb(138, 138, 138);
    }

    &-description {
      font-size: 12px;
      padding: 5px;
    }
  }

  /* Position the front and back side */
  &__front,
  &__back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }

  /* Do an horizontal flip when you move the mouse over the flip box container */
  &.card:hover .card__inner {
    transform: rotateY(180deg);
  }
}
