.card {
  background-color: transparent;

  width: 250px;
  height: 400px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */

  &__inner {
    /* This container is needed to position the front and back side */
    position: relative;

    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  /* Style the front side (fallback if image is missing) */
  &__front {
    background: rgb(216, 216, 216, 0.9);
    border: 4px solid black;
    border-radius: 50px 0;
    padding: 20px;

    &-info {
      border-radius: 15px;
      width: 100%;
      padding: 10px;
      background-color: white;
    }

    &-extra {
      margin-top: 5px;
      font-size: 14px;
      display: flex;
      justify-content: space-around;
    }

    &-extra li {
      display: block;
    }

    &-extra span {
      font-weight: bold;
    }
  }

  &__front-img {
    height: 220px;
    padding: 10px;
    transform: rotate(20deg);
  }

  /* Style the back side */
  &__back {
    background-color: rgb(34, 35, 37);
    color: white;
    transform: rotateY(180deg);
    border-radius: 0 50px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 4px solid rgb(243, 243, 243);

    &-heading {
      color: rgb(255, 255, 255);
    }

    &-tagline {
      font-style: italic;
      color: rgb(253, 253, 253);
      text-decoration: underline;
    }

    &-description {
      font-size: 12px;
      padding: 5px;
      color: white;
    }
  }

  /* Position the front and back side */
  &__front,
  &__back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }

  /* Do an horizontal flip when you move the mouse over the flip box container */
  &.card:hover .card__inner {
    transform: rotateY(180deg);
  }
}
