.search-container {
  &__input {
    width: 100%;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    padding: 10px;
    color: rgb(0, 0, 0);
  }
}
.search-container__input::placeholder {
  color: rgb(117, 117, 117);
  padding-left: 5px;
}
