.sidebar {
  text-align: center;
  background: url("https://miro.medium.com/max/1400/1*Pe46dEFOgqI-RMOIsSKxcQ.jpeg");
  background-size: contain;

  border-top: 5px dashed black;
  border-left: 5px dashed black;
  border-right: 5px dashed black;

  &__logo img {
    background: rgb(255, 255, 255);

    width: 60%;
  }

  &__search {
    padding: 0 20px 10px;
    width: 100%;
    background: rgb(19, 19, 19, 0.9);
  }
  &__heading {
  }

  &__searchbox {
    padding: 10px;
  }
  &__filters {
    padding: 10px;
  }
}

@media screen and (min-width: 1025px) {
  .sidebar {
    background: url("https://miro.medium.com/max/1400/1*Pe46dEFOgqI-RMOIsSKxcQ.jpeg");
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    &__logo {
      background: rgb(255, 255, 255);
      border-left: 7px dashed black;
      border-right: 7px dashed black;
      width: 40%;
    }
    &__logo img {
      width: 50%;
    }

    &__search {
      width: 40%;
      background: rgb(19, 19, 19, 0.9);
    }
    &__heading {
      color: rgb(245, 245, 245);
    }
  }
}
